<html ng-app="odyssey">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<!-- jQuery -->
<script src="assets/js/jquery-2.1.4.js"></script>
<!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->


<!-- Latest compiled JavaScript -->
<script src="assets/js/bootstrap.min.js"></script>

<!-- NWJS Window -->
<script src="assets/js/nwjs/dashboard.js"></script>

<!-- SQLite Handler -->
<script src="assets/js/storage.js"></script>

<!-- Library Sync -->
<script src="assets/js/sync.js"></script>

<!-- Audio player and Stream handler -->
<script src="assets/js/audiojs/audio.min.js"></script>
<script src="assets/js/player.js"></script>

<!-- Onmi Search -->
<script src="assets/js/search.js"></script>

<!-- Music Tree -->
<link href="assets/css/tree/style.min.css" rel="stylesheet">
<script src="assets/js/jstree.min.js"></script>
<script src="assets/js/library.js"></script>

<!-- Styling -->
<link href="assets/css/styleDashboard.css" rel="stylesheet">
<link href="assets/css/animate.css" rel="stylesheet">
<script src="assets/js/dashboardEffects.js"></script>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<script src="assets/js/bootbox.min.js"></script>

<script src="assets/js/authentication/bCrypt.js"></script>
<script src="assets/js/authentication/auth.js"></script>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="https://code.angularjs.org/1.4.7/angular-route.min.js"></script>
<script src="assets/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="assets/js/user/hello.js"></script>
    
<script src="assets/js/sql.js"></script>

    <script>
         $(document).ready(function () {

             if(localStorage.localSync === "false"){
                 var $scope = angular.element(document.getElementById('loading')).scope();
                $('#loading').addClass('open');
                 
             }
         });
    
    </script>

<head>
</head>

<body>


    <div id="search">
        <button type="button" class="close">X</button>
        <form>
            <input id="omni-text" autocomplete="off" type="search" value="" placeholder="Need something? Ask Omni :)" </i>
            <button id="omni-search" type="submit" class="btn btn-primary">Search</button>

        </form>
    </div>

    <div id="loading" ng-controller="myController3">
        <h1 style="color:white;">Loading Cloud library...</h1>
        <div class="text-center center">
            <div class="progress center-block" style="width:800px;height:30px;">
                <!-- set to certain width -->
                <div class="progress-bar progress-bar-striped active" role="progressbar" id="loadingBar" style="width: 0%;">
                    <span id="counter">0/3</span>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper" ng-controller="Me">


        <div class="menu-bar">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" style="overflow:hidden;">

                        <a class="navbar-brand" href="{{'#/profile/' + currentUser() }}" style="background:#f8f8f8;">Hi, {{currentUser()}}</a>

                    </div>



                    <!-- Collect the nav links, forms, and other content for toggling  <a class="navbar-brand"  style="background:#f8f8f8;">Hi, {{me.id}} </a>-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#search">Search</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-center" ng-controller="CurrentlyPlayingCtrl">
                            <li><a>Currently playing: {{song}}...</a></li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>

        <div class="main-content">
            <div class="music-library">
                <div class="songs-zone">

                    <div id="jstree" style="float:left;">
                        <!-- in this example the tree is populated from inline HTML -->
                        
                        <ul>
                            <li id="root" data-jstree='{"icon":"fa fa-book"}'>Local Library
                            <!--  <ul>
                                    <li data-jstree='{ "icon":"fa fa-music" }'>Rayando el Sol - Mana</li>
                                    <li data-jstree='{"icon":"fa fa-music" }'>Dig up her boner - Misfits</li>
                                </ul> -->
                            </li>
                        </ul> 
                    </div>

                </div>

                <div class="vertical-separator-sidebar" id="side-horizontal-separator"></div>


                <div id="drop-zone" class="dropzone">
                    <h3 id="drag-drop-text" style="padding-top:30px">Drag & Drop.</h3>
                </div>
            </div>
            <div class="version">



                <div class="row">
                    <div class="col-sm-3 col-md-3" style="width:100%;padding-left:20px;padding-right:20px;top:10px;">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                            <a class="fixed-div" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" ng-controller="UserMenuCtrl2">
                                    <div class="panel-body">
                                        <table class="table">

                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-flash text-success"></span><a href="#/news">News</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                 <span class="glyphicon glyphicon-cloud text-muted"></span><a href="" ng-click="cloudSync()">
                                            Cloud Sync</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-plus text-muted"></span><a href="">Friend requests</a>
                                                    <span class="badge">2</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-comment text-muted"></span><a href="">Comments</a>
                                                    <span class="badge">12</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>



                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                            <a class="fixed-div" data-toggle="collapse"  data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse"  ng-controller="UserMenuCtrl">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <a href="" ng-click="">Local database</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <a href="" ng-click="changePassword()">Change Password</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <a href="" ng-click="logoutAccount()">Logout</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="">Rate us!</a>
                                                    <span class="badge"><3</span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-trash text-danger"></span><a href="" ng-click="eraseAccount()" class="text-danger">
                                            Delete Account</a>
                                                    <span class="badge">Watch out!</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9">

                    </div>
                </div>

                <div class="useravatar">
                    <h3 style="text-align:left;margin-top:0;margin-bottom:0;">Friends</h3>
                    <!-- ng-src="{{ 'http://api.adorable.io/avatars/285/' + x.user }}" -->

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in me.friends"><a href="{{'#/profile/' + x.user }}">{{x.user}}<span><img alt="" ng-src="{{ 'http://api.adorable.io/avatars/285/' + x.user }}"></span></a></li>
                        <br>
                    </ul>

                </div>

                <!--<button type="button" class="btn btn-success"><a id="publish-btn" style="color:black">Publish this shit m8!</a></button> -->
            </div>
            <div class="frame" ng-view>

                <!--    <div class="main-social" ></div> -->

            </div>
        </div>

        <div class="player">

            <audio id="music-player" src="" data="Dig up her bones - Misfits" type="audio/mpeg" preload="auto"></audio>
            <!-- src="http://192.168.1.135:9080/OdysseyCloud/api/v1/users/1/libraries/1/songs/stream"-->
        </div>
    </div>
</body>

</html>